@import "variables";
@import "config";
@import "header";
@import "features";
@import "footer";

h1 {
  text-align: center;
}

.clock-photos-wrapper {
  position: relative;

  .clock-photos {
    img.photo {
      transform: scale(.75);
      transition: .5s;

      &:focus{
        outline: none;
      }

      &.slick-center {
        transform: scale(1.1);
      }
    }

  }
}

.clock-info{
  padding: 60px 0;

  .colors{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    //align-items: flex-start;

    .color-wrap{
      width: 30%;
      height: 50px;
      border: 1px solid @color-gray;
      display: flex;
      justify-content: center;
      align-items: center;

      .color{
        width: 18px;
        height: 18px;
        border-radius: 50%;

        background: transparent;
        position: relative;
        border: none;

        &:active{
          transform: scale(.75);
        }



        &::after{
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          //background-color: inherit;

          width: 28px;
          height: 28px;
          border-radius: 50%;

          border: 1px solid @color-gray;
        }

        &:hover::after{
          border: 2px solid black;

        }
      }
    }


  }

  .buy-now{
    width: 100%;
    height: 100%;

    @media @tablet {
      margin-top: 10px;
    }
  }
}

.clock-details-wrapper{

  h5{
    margin: 0;
    padding: 30px 0;
    background-color: @color-footer;
    text-align: center;
  }

  .clock-details{
    background-color: @color-footer;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 200px;

    &::after{
      content: '';
      display: block;
      width: 100%;
      height: 30px;
      background-color: @color-footer;
      position: absolute;
      left: 0;
      bottom: -30px;
    }

    .detail{
      width: 45%;
      height: 40px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      border: 1px solid @color-gray;
      border-right: none;
      border-left: none;
      margin: 5px 0;

      span{
        padding: 0 10px;
        text-transform: capitalize;
      }
    }
  }
}

.add-text-wrapper{
  margin-top: 100px;

  .add{
    display: flex;
    margin: 40px 0;

    @media @tablet {
      flex-direction: column;

      img{
        width: 100%;
      }
    }

    .add-text{
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
    }

    .img-tr{
      display: flex;
      justify-content: flex-end;
    }
  }

}
