@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body {
  font-family: 'Open Sans', sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section {
  padding: 80px 0;
}
h4.header {
  text-align: center;
  margin-bottom: 40px;
  color: #7b7b7b;
}
@media screen and (max-width: 768px) {
  .controls {
    display: none;
  }
}
.controls .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border-radius: 50%;
  border: 1px solid #7b7b7b;
  width: 48px;
  height: 48px;
  display: flex;
  transition: .5s;
}
.controls .arrow i {
  color: #7b7b7b;
  margin: auto;
}
.controls .next {
  right: -100px;
}
.controls .prev {
  left: -100px;
}
@media screen and (max-width: 768px) {
  .slick-dots {
    bottom: auto;
  }
}
section#header {
  height: 120px;
  padding: 0;
}
section#header nav {
  height: 120px;
  background-color: white;
}
section#header nav .nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section#header nav .nav-wrapper .brand-logo {
  color: black;
  height: 77px;
}
section#header nav .nav-wrapper #cart {
  position: absolute;
  right: 6%;
  font-size: 24px;
  padding: 7px 25px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#header nav .nav-wrapper #cart:active i {
  transform: scale(0.7);
}
section#header nav .nav-wrapper #cart i {
  color: black;
  font-size: 45px;
  position: relative;
  margin: 0;
  cursor: pointer;
}
section#header nav .nav-wrapper #cart span {
  position: absolute;
  right: 8px;
  vertical-align: text-top;
  text-align: center;
  color: white;
  bottom: 35%;
  font-size: 18px;
}
section#header nav .nav-wrapper #cart span.empty {
  display: none;
}
section#header nav .nav-wrapper #cart span::before {
  content: '';
  background-color: #7b7b7b;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  section#header nav .nav-wrapper #cart {
    right: 0;
  }
}
#cart-content {
  width: 300px;
  min-height: 50px;
  background-color: #ebeced;
  position: fixed;
  top: 120px;
  right: 0;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-between;
}
#cart-content.active {
  display: flex;
}
#cart-content.active .cart-header,
#cart-content.active .cart-buy,
#cart-content.active .cart-items {
  display: block;
}
#cart-content.empty .cart-empty {
  display: block;
}
#cart-content.empty .cart-header,
#cart-content.empty .cart-buy,
#cart-content.empty .cart-items {
  display: none;
}
#cart-content .cart-header {
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 30px;
  text-transform: uppercase;
  padding: 5px 0;
}
#cart-content .cart-header,
#cart-content .cart-buy,
#cart-content .cart-items {
  display: none;
}
#cart-content .cart-empty {
  display: none;
  text-align: center;
  font-size: 30px;
}
#cart-content .cart-items {
  padding: 10px 0;
  max-height: 30vh;
  overflow-y: auto;
}
#cart-content .cart-items .clock-cart-model {
  margin-top: 5px;
  display: flex;
  align-items: center;
  position: relative;
}
#cart-content .cart-items .clock-cart-model img {
  width: 64px;
  height: 64px;
}
#cart-content .cart-items .clock-cart-model .clock-info {
  margin-left: 5px;
  padding: 0;
}
#cart-content .cart-items .clock-cart-model .clock-info span {
  font-size: 20px;
}
#cart-content .cart-items .clock-cart-model .clock-delete {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
}
#cart-content .cart-buy {
  background-color: #7b7b7b;
}
.color-wrapper {
  display: flex;
}
.color-wrapper span.color-dom {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
}
#links {
  background-color: #2e2e30;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
#links a {
  width: 210px;
  text-transform: uppercase;
  font-size: 20px;
  color: #7b7b7b;
  text-align: center;
  transition: .3s;
  position: relative;
}
#links a::after {
  content: '';
  height: 30px;
  width: 1px;
  background-color: #7b7b7b;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
}
#links a:last-child::after {
  display: none;
}
#links a:hover {
  color: white;
}
#buy-form {
  width: 45vw;
  height: 50vh;
  overflow-y: hidden;
}
@media screen and (max-width: 768px) {
  #buy-form {
    width: 80%;
    height: 75vh;
  }
  #buy-form .modal-content {
    height: 100%;
  }
  #buy-form .modal-content iframe {
    overflow-y: scroll;
  }
}
#buy-form .modal-content {
  height: 80vh;
}
#buy-form .modal-content iframe {
  width: 100%;
  height: 70vh;
}
#buy-form button#buy-form-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
}
section#features {
  margin-top: 10vh;
  background-color: whitesmoke;
}
section#features .feature {
  display: flex;
  flex-direction: column;
  text-align: center;
}
section#features .feature img {
  object-fit: contain;
  margin-bottom: 20px;
}
section#features .feature span {
  font-weight: bold;
}
footer.page-footer {
  background-color: #ebeced;
  color: black;
}
footer.page-footer h5 {
  color: #7b7b7b;
  padding-bottom: 10px;
  position: relative;
}
footer.page-footer h5::after {
  content: '';
  display: block;
  height: 1px;
  width: 30vw;
  background-color: #7b7b7b;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
footer.page-footer .ss-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
footer.page-footer .ss-wrapper .subscribe {
  width: 65%;
}
footer.page-footer .ss-wrapper .subscribe input {
  float: left;
  width: 70%;
  background: white;
  border: 1px solid #7b7b7b;
  height: 50px;
  margin: 0;
}
footer.page-footer .ss-wrapper .subscribe button {
  float: left;
  background-color: #7b7b7b;
  height: 52px;
  transition: .3s;
  border: 1px solid #8b8b8b;
  padding: 0 30px;
  color: white;
  font-weight: bold;
}
footer.page-footer .ss-wrapper .subscribe button:hover {
  background-color: #489e7b;
}
footer.page-footer .ss-wrapper .socials {
  text-align: center;
  width: 100%;
}
footer.page-footer .ss-wrapper .socials .fa {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  background-color: #555;
  color: white;
}
footer.page-footer .links ul li {
  margin: 10px 0;
}
footer.page-footer .links ul li a {
  color: #7b7b7b;
  font-size: 16px;
}
footer.page-footer .pp-wrapper {
  text-align: center;
}
footer.page-footer .pp-wrapper .payment {
  height: 35px;
  margin-right: 10px;
  float: left;
}
footer.page-footer .address {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
}
footer.page-footer .address span {
  text-align: center;
  width: 100%;
}
footer.page-footer .logos {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
footer.page-footer .footer-copyright {
  background-color: white;
  text-align: center;
  color: #7b7b7b;
}
@media screen and (max-width: 768px) {
  footer.page-footer .ss-wrapper {
    flex-direction: column;
  }
  footer.page-footer .ss-wrapper .subscribe,
  footer.page-footer .ss-wrapper .socials {
    width: 100%;
  }
  footer.page-footer .ss-wrapper .subscribe {
    margin-bottom: 20px;
  }
  footer.page-footer .ss-wrapper .subscribe input,
  footer.page-footer .ss-wrapper .subscribe button {
    width: 100%;
  }
}
section.banner {
  height: calc(100vh -  120px);
  background: url("../images/banner2.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}
section.banner .info-wrap {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  width: 50%;
  text-align: center;
  color: white;
}
section.banner .info-wrap h1 {
  font-size: 30px;
}
section.banner .info-wrap .shop-now {
  color: white;
  cursor: pointer;
  background: none;
  padding: 5px 20px;
  text-transform: uppercase;
  border: 1px solid #7b7b7b;
  transition: .3s;
}
section.banner .info-wrap .shop-now:hover {
  transform: scale(1.1);
  border: 2px solid #7b7b7b;
  border-radius: 3px;
}
section#clocks {
  position: relative;
  width: 70vw;
  margin: 0 15vw;
}
section#clocks .multiple-items .slick-track {
  padding: 10px 0;
  /* the slides */
  /* the parent */
}
section#clocks .multiple-items .slick-track .slick-slide {
  margin: 0 10px;
}
section#clocks .multiple-items .slick-track .slick-list {
  margin: 0 -10px;
}
section#clocks .multiple-items .clock {
  width: calc(33.33333333%);
}
@media screen and (max-width: 768px) {
  section#clocks .multiple-items .clock {
    width: 100%;
  }
}
section#clocks .multiple-items .clock .clock-icon {
  width: 100%;
  height: 70%;
}
section#clocks .multiple-items .clock .clock-info {
  height: 30%;
  padding: 0 70px;
}
section#clocks .multiple-items .clock .clock-info .clock-title {
  font-size: 30px;
}
section#clocks .multiple-items .clock .clock-info .clock-title i {
  font-size: 36px;
}
section#clocks .multiple-items .clock .clock-info .clock-prices span {
  color: #7b7b7b;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
section#clocks .multiple-items .clock .clock-info .clock-prices span.sale {
  text-decoration: line-through;
}
section#clocks .multiple-items .clock .clock-info .clock-prices span.new-price {
  color: red;
}
section#clocks .multiple-items .clock .clock-info .clock-buy {
  background-color: transparent;
  border: 1px solid #7b7b7b;
}
section#clocks .multiple-items .clock .clock-info .clock-buy i {
  color: #7b7b7b;
}
section#photos .photo {
  cursor: pointer;
}
section#photos .photo img {
  width: 100%;
  object-fit: contain;
}
section#press {
  background-color: whitesmoke;
}
section#press .container {
  position: relative;
}
section#press .container .p-wrap .comment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}
section#press .container .p-wrap .comment p {
  width: 60%;
  font-size: 20px;
  text-align: center;
}
section#press .container .p-wrap .comment img {
  max-width: 30%;
}
#clock-photo {
  width: 75vw;
  height: 75vh;
}
#clock-photo .modal-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
#clock-photo .modal-content img#clock-photo-icon {
  width: 45%;
  height: 90%;
  object-fit: cover;
}
#clock-photo .modal-content .modal-content-left {
  height: 90%;
  width: 45%;
  transition: .3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#clock-photo .modal-content .modal-content-left .instagram {
  width: 100%;
}
#clock-photo .modal-content .modal-content-left .instagram .instagram-photo {
  width: 64px;
}
#clock-photo .modal-content .modal-content-left .instagram i {
  margin: 0 10px;
}
#clock-photo .modal-content .modal-content-left .instagram a {
  color: #7b7b7b;
  text-decoration: underline;
  font-style: italic;
}
#clock-photo .modal-content .modal-content-left .clock-info {
  width: 100%;
  background-color: #ebeced;
  height: 200px;
  position: relative;
}
#clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model {
  display: flex;
  align-items: center;
}
#clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model img {
  height: 200px;
}
#clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model .clock-info {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
#clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model .clock-info span {
  font-size: 24px;
}
#clock-photo .modal-content .modal-content-left .clock-info .clock-buy {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ebeced;
  border: 1px solid #7b7b7b;
  transform: scale(1.5) translate(25%, 25%);
}
#clock-photo .modal-content .modal-content-left .clock-info .clock-buy i {
  color: #7b7b7b;
}
@media screen and (max-width: 768px) {
  #clock-photo .modal-content {
    flex-direction: column;
  }
  #clock-photo .modal-content img#clock-photo-icon {
    width: 100%;
  }
  #clock-photo .modal-content .modal-content-left {
    width: 100%;
  }
  #clock-photo .modal-content .modal-content-left h4 {
    text-align: center;
  }
  #clock-photo .modal-content .modal-content-left .instagram {
    display: none;
  }
  #clock-photo .modal-content .modal-content-left .clock-info {
    height: auto;
  }
  #clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model {
    flex-direction: column;
    margin-bottom: 50px;
  }
  #clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model img {
    width: 100%;
  }
  #clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model .clock-info {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  #clock-photo .modal-content .modal-content-left .clock-info .clock-cart-model .clock-info span {
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }
  #clock-photo .modal-content .modal-content-left .clock-info button.clock-buy {
    left: 50%;
    transform: translateX(-50%);
  }
}
#clock-photo button#clock-photo-close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
}
