{{#each clocks}}
    <div class="clock-cart-info">
        <img src="{{this.images.[0]}}" />

        <div class="info">
            <span>{{this.name}}</span>
            <span>{{this.price}}</span>
        </div>
    </div>
{{/each}}