<section id="features">
    <h4 class="header">Our Features</h4>

    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <div class="feature">
                    <!--<i class="large material-icons">airplanemode_active</i>-->
                    <img src="/images/plane_icon.png" alt="">
                    <span class="title">FREE SHIPPING</span>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="feature">
                    <!--<i class="large material-icons">card_travel</i>-->
                    <img src="/images/box_icon.png" alt="">
                    <span class="title">FREE RETURNS</span>
                </div>
            </div>
            <div class="col l4 s12">
                <div class="feature">
                    <!--<i class="large material-icons">card_membership</i>-->
                    <img src="/images/belt_icon.png" alt="">
                    <span class="title">THREE YEAR WARRANTY</span>
                </div>
            </div>
        </div>
    </div>
</section>
