<footer class="page-footer">

    <div class="container ss-wrapper">
        <div class="subscribe">
            <input type="text" placeholder="  ENTER YOUR EMAIL ADDRESS HERE"/>
            <button>LET'S GO!</button>
        </div>

        <div class="socials">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-pinterest" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            © 2014 Copyright Text
            <a class="black-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>