<footer class="page-footer">

    <div class="container ss-wrapper">
        <!--<div class="subscribe">-->
            <!--<input type="text" placeholder="  ENTER YOUR EMAIL ADDRESS HERE"/>-->
            <!--<button>LET'S GO!</button>-->
        <!--</div>-->

        <div class="socials">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
        </div>
    </div>

    <!--<div class="container links">-->
        <!--<div class="row">-->
            <!--<div class="col l4 s12">-->
                <!--<h5>CUSTOMER SERVICE</h5>-->

                <!--<ul>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> My Account</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Customization</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Shipping Policy</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> FAQ</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Sitemap</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col l4 s12">-->
                <!--<h5>CUSTOMER SERVICE</h5>-->

                <!--<ul>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Terms & Conditions</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Privacy Policy</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Warranty & Returns</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="col l4 s12">-->
                <!--<h5>CUSTOMER SERVICE</h5>-->

                <!--<ul>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> About Us</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Couple Watch</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Contact Us</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Blog</a></li>-->
                    <!--<li><a href="https://www.google.com.ua/?hl=ua"> Distributor Program</a></li>-->
                <!--</ul>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

    <div class="container pp-wrapper">
        <div class="row">
            <!--<div class="col l6 s12">-->
                <!--<h5>PAYMENT PARTNERS </h5>-->

                <!--<img src="/images/visa.png" class="payment">-->
                <!--<img src="/images/ae.png" class="payment">-->
                <!--<img src="/images/mc.png" class="payment">-->
                <!--<img src="/images/jcb.png" class="payment">-->
                <!--<img src="/images/pp.png" class="payment">-->
            <!--</div>-->
            <div class="col l6 s12">
                <h5>SHIPPING PARTNERS </h5>

                <img src="/images/dhl.png" class="payment">
                <img src="/images/dhle.png" class="payment">
                <img src="/images/5387532783a39be6320d8b0e446adcef.png" class="payment" alt="">
            </div>
        </div>
    </div>

    <div class="container address">
        <span>Мы являемся официальным диллером торговой марки Welly Merck в Украине</span>
        <span>Company: Welly Merck HQ</span>
        <span>Address: Chemin du Rionza 5 , 1020 Renens, Vaud, Switzerland</span>
    </div>

    <div class="footer-copyright">
        <div class="container">
            wellymerck.com.ua
        </div>
    </div>
</footer>