<section id="header" class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="center brand-logo">
                <img src="/images/logo.png" alt="">
            </a>

            <div id="cart">
                <i class="close material-icons left">shopping_cart</i>
                <span id="cart-count" class="empty">2</span>
            </div>
        </div>

        <div id="links">
            <a href="/">Home</a>
            <a href="/man">Man</a>
            <a href="/woman">Woman</a>
            <a href="/contacts">Contacts</a>
        </div>
    </nav>
</section>

<div id="cart-content" class="z-depth-4">
    <p class="cart-header">Cart</p>

    <div class="cart-items"></div>

    <button id="cart-buy" class="btn cart-buy">Buy Now!</button>

    <p class="cart-empty">EMPTY</p>
</div>
